.custom-fullbg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.head-block {
    height: calc(100vh - 4rem); /* padding counts */
    max-width: 100%;
    box-sizing: border-box;
}

.head-title {
    font-size: 1000%;
    color: white;
    text-shadow: 0.25rem 0.3rem 0.15rem black;
    padding: 0;
    margin: 0;
    max-width: 90%;
}

.head-subtitle {
    font-size: 250%;
    color: white;
    text-shadow: 0.25rem 0.3rem 0.15rem black;
    padding: 0;
    margin: 0;
    position: relative;
    top: calc(-2 * var(--multiplier_font));
    left: calc(4 * var(--multiplier_font));
    max-width: 90%;
}